@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content">
    <div class="results">
        <h1>Movies</h1>
        @foreach (Movie movie in Model.Movies)
        {
            <div class="movie-entry">
                <h2>@movie.Title (@movie.Year)</h2>
                <p>Rated @movie.MPAA_Rating</p>
                <div class="reviews">
                    <div>
                        Rotten Tomatoes
                        <h3>@movie.Rotten_Tomatoes_Rating</h3>
                    </div>
                    <div>
                        IMDB
                        <h3>@movie.IMDB_Rating</h3>
                    </div>
                </div>
            </div>
        }
    </div>
    <form method="post">
        <h4>Search</h4>
        <input type="text" name="search" value="@Model.search" />
        <input type="submit" value="Search" />
        <input type="reset" value="Clear" />

        <h4>filter by Rating</h4>
        <div class="checkbox-list">
            <label>
                <input type="checkbox" name="rating" value="G" checked="@Model.rating.Contains("G")" />
                Rated G
            </label>
            <label>
                <input type="checkbox" name="rating" value="PG" checked="@Model.rating.Contains("PG")" />
                Rated PG
            </label>
            <label>
                <input type="checkbox" name="rating" value="PG-13" checked="@Model.rating.Contains("PG-13")" />
                Rated PG-13
            </label>
            <label>
                <input type="checkbox" name="rating" value="R" checked="@Model.rating.Contains("R")" />
                Rated R
            </label>
            <label>
                <input type="checkbox" name="rating" value="NC-17" checked="@Model.rating.Contains("NC-17")" />
                Rated NC-17
            </label>
            <h4>Review Scores</h4>
            <label>
                Minimum IMDB Rating:
                <input type="number" min="0" max="10" step=".1" name="minIMDB" value="@Model.minIMDB" />
            </label>
            <label>
                Maximum IMDB Rating:
                <input type="number" min="0" max="10" step=".1" name="maxIMDB" value="@Model.maxIMDB" />
            </label>
        </div>
    </form>
</div>